body {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    color: white;
    background-color: black;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.footer-grid-container {
  display: grid;
}

.footer-grid-item {
    padding: 10px;
}

/* Media queries for different device widths */
@media (max-width: 1000px) {
    /* 1-column layout for small devices */
    .footer-grid-container {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 1001px) {
    /* 2-column layout for medium-sized devices */
    .footer-grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}