body {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    color: white;
    background-color: black;
    margin: 8px;
}

a:link {
    color: #66B2FF;  /* Lighter blue for better contrast on dark backgrounds */
}

a:visited {
    color: #B088FF;  /* Lighter purple for better contrast on dark backgrounds */
}

a:hover {
    color: #99CCFF;  /* Even lighter blue for hover state */
}

a:active {
    color: #99CCFF;
}


img {
    max-width: 100%;
    max-height: 100%;
}
.qsl-card-img {
    max-width: 900px;
    max-height: 500px;
}

table, th, td {
    border: 1px solid white;
}

.reference-grid-container {
    display: grid;
}
.reference-grid-item {
    padding: 2px;
}

.footer-grid-container {
  display: grid;
}

.footer-grid-item {
    padding: 10px;
}

/* Media queries for different device widths */
@media (max-width: 1000px) {
    /* 1-column layout for small devices */
    .footer-grid-container {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 1001px) {
    /* 2-column layout for medium-sized devices */
    .footer-grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Reference Grids */
@media (max-width: 800px) {
    /* 1-column layout for small devices */
    .reference-grid-container {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 801px) {
    /* 2-column layout for medium-sized devices */
    .reference-grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
