{% extends 'base.html' %}
{% block body %}
<p>Amateur Radio Station K6BCW based in San Francisco, California.</p>
<h3>My interests with amateur radio include: </h3>
<p>
    <ul>
        <li>QRP</li>
        <li>Contests</li>
        <li>Checking into nets</li>
        <li>Receiving weather transmissions from <a href="satellites.html">satellites</a></li>
    </ul>
</p>

</p>
    <a href="https://www.ehlabs.net/blog/u/eli?tags=radio">Radio Blog</a>
    |
    <a href="reference.html">Reference</a>
    |
    <a href="hamdashboard/hamdash.html">Dashboard</a>
    |
    <a href="qsl-cards.html">QSL Cards</a>
<p>
<p>
    I have a very basic UHF/VHF setup with a few HTs, and a portable QRP HF rig.
    I like to go to local parks and hills to see who I can contact.
    You might find me on 10m SSB or FT8. I have constructed a speaker wire dipole and it works really well on 10m.
    I've managed to make DX contacts with only 5-10 watts.
    I also have a 6m antenna which I use from time to time.
    My goal is to contact as many states and countries as possible with this basic setup, taking advantage of the peak of <a href="https://en.wikipedia.org/wiki/Solar_cycle_25">Solar Cycle 25</a> while it lasts.
    My brother is <a href="https://www.qrz.com/db/KR4AMW">KR4AMW</a>.
</p>
<p>
    I'm active on the <a href="https://www.insomniac-group.com/">WIN System Insomniac Trivia Net</a>.
</p>
<img src="static/img/k6bcw_jpole.webp" alt="K6BCW with JPole antenna">
<img src="static/img/k6bcw_dipole.webp" alt="K6BCW with 10m Dipole antenna">
<p>Formerly known as KO6BCW (September 2023 - June 2024).</p>
<h3>QSL: </h3>
<p>
    I prefer LoTW, however I also have QRZ.com and e-QSL.
</p>
<h3>Contests I have participated in: </h3>
<p>
    <ul>
        <li>2023 ARRL September VHF Contest (Single Operator, Portable, Analog Only) <a href="static/img/sept-vhf-2023.webp">1st Place San Francisco Section</a></li>
        <li>2024 ARRL January VHF Contest (Single Operator, Portable, Analog Only) <a href="static/img/jan-vhf-2024.webp">1st Place San Francisco Section</a></li>
        <li>2024 ARRL International Digital Contest (Single Operator, One Radio (SO1R), QRP) <a href="static/img/digital-2024.jpeg">1st Place San Francisco Section</a></li>
        <li>2024 ARRL June VHF Contest (Single Operator, Portable, Analog Only) <a href="static/img/jun-vhf-2024.jpeg">2nd Place San Francisco Section</a></li>
        <li>2024 All Asia DX Contest - Phone (Single Operator, One Band 10m)</li>
        <li>2024 California QSO Party (Single Operator Assisted QRP: Expedition) <a href="https://cqp.org/results/2024/CQP_2024_CA_Results_Summary_Package.pdf">5th Place</a></li>
        <li>2024 ARRL 10m Contest (Single Operator, Phone Only, QRP) 2nd Place San Francisco Section</li>
        <li>2025 North American QSO Party SSB (Single Operator, Non-Assisted, QRP)</li>
        <li>2025 ARRL January VHF Contest (Single Operator, Portable, Analog Only) 1st Place San Francisco Section</li>
    </ul>
</p>
{% endblock %}
