{% extends 'base.html' %}
{% block body %}
<section>
    <p>Amateur Radio Station K6BCW based in San Francisco, California.</p>
    
    <h3>Interests in Amateur Radio</h3>
    <ul>
        <li>QRP</li>
        <li><a href="qsl-cards.html#pota">Parks On The Air (POTA)</a>, <a href="https://sotl.as/activators/K6BCW">Summits On The Air (SOTA)</a></li>
        <li>Building antennas</li>
        <li><a href="#contests">Contests</a></li>
        <li>Checking into nets</li>
        <li>Receiving weather transmissions from <a href="satellites.html">satellites</a></li>
    </ul>
    
    <p>I have a very basic UHF/VHF setup with a few HTs, and a portable QRP HF rig. I like to go to local parks and hills to see who I can contact. You might find me on 10m SSB or FT8. I have constructed a speaker wire dipole and it works really well on 10m. As I've gotten my General class license, I've also been experimenting with other antenna designs so you may find me on other bands as well. I've managed to make DX contacts with only 5-10 watts.</p>
    
    <p>My goal is to contact as many states and countries as possible, taking advantage of the peak of <a href="https://en.wikipedia.org/wiki/Solar_cycle_25">Solar Cycle 25</a> while it lasts. I'm a member of the <a href="https://sfarc.org">San Francisco Amateur Radio Club (SFARC)</a>, the <a href="https://californiahistoricalradio.com/">California Historical Radio Society (CHRS)</a>, and, of course, the <a href="https://www.arrl.org/">American Radio Relay League (ARRL)</a>.</p>
    
    <p>I'm a crew member of the <a href="https://ssjeremiahobrien.org">SS Jeremiah O'Brien</a>, volunteering as an operator in the radio room as <a href="https://www.qrz.com/db/K6JOB">K6JOB</a> for special events such as <a href="https://www.nj2bb.org/museum/">museum ships on the air</a>. My brother is <a href="https://www.qrz.com/db/KR4AMW">KR4AMW</a>. He lives in Georgia, and I live in California, so you have one brother on each coast to try and contact.</p>
    
    <p>I'm active on the <a href="https://www.insomniac-group.com/">WIN System Insomniac Trivia Net</a>.</p>
    
    <p>I'm the developer of an amateur radio logging iOS app called eh Radio Logger. It's a simple app with large, chunky buttons designed for use with one hand in the field when doing POTA or SOTA operations. Click the banner image below to download it from the App Store.</p>
    <a href="https://apps.apple.com/us/app/eh-radio-logger/id6744907119?itscg=30200&itsct=apps_box_link&mttnsubad=6744907119"><img src="static/img/eh-radio-logger-web-ad.png" alt="eh Radio Logger Landscape Banner Ad" style="max-height:200px; max-width:365px; height:auto; width:auto;"></a>
</section>

<section class="image-gallery">
    <figure>
        <img src="static/img/k6bcw_jpole.webp" alt="K6BCW with JPole antenna">
        <figcaption>K6BCW with J-Pole Antenna</figcaption>
    </figure>
    <figure>
        <img src="static/img/k6bcw_dipole.webp" alt="K6BCW with 10m Dipole antenna">
        <figcaption>K6BCW with 10m Dipole Antenna</figcaption>
    </figure>
</section>

<p>Formerly known as KO6BCW (September 2023 - June 2024).</p>

<h3 id="contests">Contests I have participated in: </h3>
<p>
    <ul>
        <li>2023 ARRL September VHF Contest (Single Operator, Portable, Analog Only) <a href="static/img/sept-vhf-2023.webp">1st Place San Francisco Section</a></li>
        <li>2024 ARRL January VHF Contest (Single Operator, Portable, Analog Only) <a href="static/img/jan-vhf-2024.webp">1st Place San Francisco Section</a></li>
        <li>2024 ARRL International Digital Contest (Single Operator, One Radio (SO1R), QRP) <a href="static/img/digital-2024.jpeg">1st Place San Francisco Section</a></li>
        <li>2024 ARRL June VHF Contest (Single Operator, Portable, Analog Only) <a href="static/img/jun-vhf-2024.jpeg">2nd Place San Francisco Section</a></li>
        <li>2024 All Asia DX Contest - Phone (Single Operator, One Band 10m) <a href="https://www.jarl.org/English/4_Library/A-4-3_Contests/2024/AA2024ph-entire.html">3rd Place</a></li>
        <li>2024 California QSO Party (Single Operator Assisted QRP: Expedition) <a href="static/pdf/K6BCW_2024_CQP.pdf">5th Place</a></li>
        <li>2024 ARRL 10m Contest (Single Operator, Phone Only, QRP) <a href="static/pdf/k6bcw-10m-2024.pdf">2nd Place San Francisco Section</a></li>
        <li>2025 North American QSO Party SSB (Single Operator, QRP) <a href="static/pdf/k6bcw-naqp-2025.pdf">14th Place QRP, 3rd Place Call Area 6, 3rd Place California</a></li>
        <li>2025 ARRL January VHF Contest (Single Operator, Portable, Analog Only) <a href="static/pdf/k6bcw_2025_jan_vhf.pdf">1st Place San Francisco Section</a></li>
        <li>2025 CQWPX Contest, SSB (Single Operator, QRP, All Bands) <a href="static/pdf/K6BCW_CQWPX_2025_SSB.pdf">3rd Place United States 6th Call Area</a></li>
        <li>2025 ARRL November Sweepstakes, Phone (Single Operator, Low Power)</li>
    </ul>
</p>
{% endblock %}
