{% extends 'base.html' %}
{% block body %}
<p>Formerly known as KO6BCW (September 2023 - June 2024).</p>
<h2>My interests with amateur radio include: </h2>
<p>
    <ul>
        <li>QRP</li>
        <li>Contests</li>
        <li>Receiving weather transmissions from <a href="satellites.html">satellites</a></li>
        <li>Checking into <a href="reference.html">nets</a></li>
        <li>CQing around my area seeing who I can <a href="qsl-cards.html">contact</a></li>
    </ul>
</p>

</p>
    <a href="https://www.ehlabs.net/blog/u/eli?tags=radio">Ham Radio Blog</a>
<p>
<p>
    I have a very basic UHF/VHF setup with a few HTs, and a portable QRP HF rig.
    I like to go to local parks and hills to see who I can contact.
    You might find me on 10m SSB or FT8. I have constructed a speaker wire dipole and it works really well on 10m.
    I've managed to make DX contacts with only 5-10 watts.
    My goal is to contact as many states and countries with this basic setup, taking advantage of the peak of <a href="https://en.wikipedia.org/wiki/Solar_cycle_25">Solar Cycle 25</a> while it lasts.
</p>
<p>
    I'm active on the <a href="https://www.insomniac-group.com/">WIN System Insomniac Trivia Net</a>.
</p>
<img src="static/img/k6bcw_jpole.webp" alt="K6BCW with JPole antenna">
<img src="static/img/k6bcw_dipole.webp" alt="K6BCW with 10m Dipole antenna">
<h3>QSL: </h3>
<p>
    I prefer LoTW, however I also have QRZ.com and e-QSL.
</p>
<h3>Contests I have participated in: </h3>
<p>
    <ul>
        <li>2023 ARRL September VHF Contest (Single Operator, Portable, Analog Only) <a href="static/img/sept-vhf-2023.webp">1st Place San Francisco Section</a></li>
        <li>2024 ARRL January VHF Contest (Single Operator, Portable, Analog Only) <a href="static/img/jan-vhf-2024.webp">1st Place San Francisco Section</a></li>
        <li>2024 ARRL International Digital Contest (Single Operator, One Radio (SO1R), QRP) <a href="static/img/digital-2024.jpeg">1st Place San Francisco Section</a></li>
        <li>2024 ARRL June VHF Contest (Single Operator, Portable, Analog Only) <a href="static/img/jun-vhf-2024.jpeg">2nd Place San Francisco Section</a></li>
        <li>2024 All Asia DX Contest - Phone (Single Operator, One Band 10m)</li>
        <li>2024 California QSO Party (Single Operator QRP: Expedition)</li>
    </ul>
</p>
{% endblock %}
