{% extends 'base.html' %}
{% block body %}
<h2>QRZ.com Logbook</h2>
<iframe align="top" frameborder="0" height="500" scrolling="yes" style="background-color: white;" src="https://logbook.qrz.com/lbstat/K6BCW/" width="650"></iframe>

<h2>QSL Cards</h2>
<h3>Here are some QSL cards I've collected.</h3>
<p>I hope to make and print my own QSL cards some day to send to other Hams! For now, I just QSL via LoTW.</p>
<p>Here is a QSL Card from KD4UTL.</p>
<img src="static/img/QSL-KD4UTL.webp" class="qsl-card-img" alt="QSL card from KD4UTL">

<p>A QSL Card from W6BSD.</p>
<img src="static/img/QSL-W6BSD.webp" class="qsl-card-img" alt="QSL card from W6BSD">

<p>Here is one from W6P obtained from the SFARC OTA-Trifecta event in 2023.</p>
<img src="static/img/QSL-W6P.webp" class="qsl-card-img" alt="QSL card from W6P">

<p>Here is one from N6LRC</p>
<img src="static/img/QSL-N6LRC.webp" class="qsl-card-img" alt="QSL card from N6LRC">

<p><a href="index.html">Home</a></p>
{% endblock %}
