{% extends 'base.html' %}

{% block body %}

<h1>QSL Cards</h1>
<p>
    I prefer LoTW, but also maintain logs on QRZ.com and e-QSL. 
    I have printed my own QSL cards and will respond to all physical QSL cards with one of my own.
</p>

<h2>Stats</h2>
<!-- Stacked vertically -->
<div style="margin-bottom: 3rem;">
    <div style="margin-bottom: 3rem;">
        <h3>QRZ.com Logbook</h3>
        <iframe align="top" frameborder="0" height="500" scrolling="yes" style="background-color: white; max-width: 100%;" src="https://logbook.qrz.com/lbstat/K6BCW/" width="100%"></iframe>
    </div>
    <div>
        <h3 id="pota">POTA Stats</h3>
        <iframe src="https://pota-stats.wd4dan.net/?call=K6BCW" height="1250" width="100%" frameborder="0" scrolling="no"></iframe>
    </div>
</div>

<h2>Card Gallery</h2>
<div class="card-grid">
    <div class="card-item">
        <p>JA6WFM</p>
        <img src="static/img/qsl-ja6wfm.webp" alt="QSL card from JA6WFM" loading="lazy">
    </div>
    
    <div class="card-item">
        <p>KL5DX Alaska Contest Club</p>
        <img src="static/img/qsl-kl5dx.webp" alt="QSL card from KL5DX" loading="lazy">
    </div>
    
    <div class="card-item">
        <p>K6DF</p>
        <img src="static/img/QSL-K6DF.webp" alt="QSL card from K6DF" loading="lazy">
    </div>
    
    <div class="card-item">
        <p>KD4UTL</p>
        <img src="static/img/QSL-KD4UTL.webp" alt="QSL card from KD4UTL" loading="lazy">
    </div>
    
    <div class="card-item">
        <p>W6BSD</p>
        <img src="static/img/QSL-W6BSD.webp" alt="QSL card from W6BSD" loading="lazy">
    </div>
    
    <div class="card-item">
        <p>W6P (SFARC OTA-Trifecta 2023)</p>
        <img src="static/img/QSL-W6P.webp" alt="QSL card from W6P" loading="lazy">
    </div>
    
    <div class="card-item">
        <p>N6LRC</p>
        <img src="static/img/QSL-N6LRC.webp" alt="QSL card from N6LRC" loading="lazy">
    </div>
</div>

{% endblock %}
