{% extends 'base.html' %}

{% block body %}

<h1>Satellite Images</h1>
<p>
    Images of the Earth's surface captured by holding a cellphone to a Handheld Transceiver (HT).
    Due to the indoor setup and suboptimal antenna, quality is low. 
    NOAA-15 is degrading, so catching these while possible is a fun challenge.
</p>

<div class="card-grid">
    <div class="card-item">
        <p>NOAA-18 (Sep 24, 2023)</p>
        <img src="static/img/noaa-18-cropped-2023-09-24.webp" alt="Satellite image of California from NOAA-18">
    </div>
    
    <div class="card-item">
        <p>NOAA-18 (Oct 10, 2023)</p>
        <img src="static/img/noaa-18-2023-10-10-nr.webp" alt="Satellite image of California from NOAA-18">
    </div>
    
    <div class="card-item">
        <p>NOAA-19 (Oct 01, 2023)</p>
        <img src="static/img/noaa-19-2023-10-01.webp" alt="Satellite image of California from NOAA-19">
    </div>
</div>

{% endblock %}
