on:
  push:
    branches:
      - master
name: Deploy website on push
jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - name: Get latest code
      uses: actions/checkout@v4
      with:
        lfs: 'true'

    - name: Check out hamdash
      uses: actions/checkout@v4
      with:
        repository: ehickox/hamdashboard
        path: hamdashboard

    - name: setup python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'

    - name: Install uv
      uses: astral-sh/setup-uv@v4
      with:
        version: "latest"

    - name: Install dependencies
      run: uv sync

    - name: Render HTML Templates
      run: uv run python render_templates.py

    - name: Upload to FTP
      uses: SamKirkland/FTP-Deploy-Action@v4.3.6
      with:
        server: ftp.qsl.net
        username: k6bcw
        password: ${{ secrets.FTP_PASSWORD }}
        exclude: |
          **/.venv/**
          **/.git/**
